<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>SIMAR API</title>
    <meta name="description" content="SIMAR API" />
    <meta name="author" content="Jaime E. Valdez" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700" rel="stylesheet" />
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
    </style>
  </head>

  <body>
    <p>You hace reach our root. Nothing to do here.</p>
    <hr>
    <small>Any information please contact <a href="mailto:simar@conabio.gob.mx">simar@conabio.gob.mx</a></small>
  </body>
</html>
